body {
    font-family: lora;
    background-color: rgba(0,128,0,0.2);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
}

.grid {
    display: grid;
    grid-gap: 50px;
}

.grid-column-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-column-2 {
    grid-template-columns: 1fr 1fr;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 50px;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(../images/sourdough-bread.jpg);
    background-repeat: no-repeat;
    background-size: cover;
color: white;
text-align: center;
padding: 100px 0;
}

header h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 1.5;
    margin: 0;
}

header h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background:white;
    color: green;
    padding: 16px 32px;
   display: inline-block;
   margin-top: 32px;
}

@media (max-width: 900px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

    main {
        text-align: center;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    section {
        padding: 10px;
    }

    .container {
        padding: 5px;
    }
}

main {
    background-color: white;
}

main img {
    max-width: 100%;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: green;
    opacity: 0.8;
    text-transform: uppercase;
    margin: 0;
    padding-top: 5px;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

main p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
}

footer {
color: white;
background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(../images/sourdough-loaves.jpg);
background-repeat: no-repeat;
background-size: cover;
}

footer h3 {
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   text-align: center;
}

footer p {
 font-weight: 400;
 font-size: 16px;
 line-height: 24px;
 opacity: 0.9;
 text-align: center;
}

footer li {
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: center;
}

footer ul {
    padding:0;
}

footer a {
    color: white;
    opacity: 0.9;
}